<!DOCTYPE html>
<html>
<head>
	<title>Learn Vue</title>
</head>
<body>
	<h1>Vue.js Examples</h1>

  <h3> First Vue Example: Dynamic Message </h3>
  <div id="demo1">
    <p>{{message}}</p>
  </div>

  <hr>

  <h3> Second Vue Example: Dynamic Vue Title </h3>
  <div id="demo2">
    <p v-bind:title="message">
    Hover over me to get the last time you loaded the page! <br>
    This is done by dynamically binding the title with v-bind!
  </p>
  </div>

  <hr>

  <h3> Third Vue Example: Conditionals and Seen </h3>
  <div id="demo3">
    <p v-if="seen">Now you see me! <br> Change demoThree.seen to false in console to make me disapear! </p>
  </div>

  <hr>

  <h3> Fourth Vue Example: Displaying an array in Vue </h3>
  <div id="demo4">
	<ol>
	  <li v-for="todo in todos">
	    {{ todo.text }}
	  </li>
    </ol>
  </div>

  <hr>

  <h3> Fifth Vue Example: Actions On User Action</h3>
  <div id="demo5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <hr>

  <h3>Sixth Vue Example: Dynamically Bind Fields</h3>
  <div id="demo6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <hr>

  <h3> Seventh Vue Example: Raw HTML Injection</h3>
  <div id="demo7" v-html="rawHtml"><!-- HTML is injected into here from rawHtml --></div>

  <hr>

  <!-- <h3> Eighth Vue Example:</h3> -->
  
</div>


</body>
<!-- Include Vue.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
<script src="main.js"></script>
</html>